.project-index h5 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25;
}


.project-images {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    padding: 50svh 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: -1;
}

.project-images img {
    opacity: 0.5;
    transition: all 0.3s ease;
    overflow: hidden;
    user-select: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.project-names {
    position: absolute;
    right: 4rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.project-names p {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.25;
    color: #4a4a4a;
    transition: color 0.3s ease;
}

.project-index, .project-images, .project-names p {
    will-change: transform;
}

@media (max-width: 670px) {
    .project-images{
        width: calc(100% - 3rem);
    }
    .project-names {
        right: 2rem;
        bottom: 2rem;
    }
}