@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Anton&family=Lexend:wght@100..900&display=swap');
@import url("https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2");

* {
    font-family: "DM Sans", sans-serif;
}

.font-bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-dm {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-compressa {
    font-family: "Compressa VF", sans-serif;
    font-weight: 900;
    font-style: normal;
}